.ic {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: inherit;
}
/*

.ic-location {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.ic-mail {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.ic-phone {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.ic-search {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
*/
