
/*Fonts*/
$font-family-base:    		Helvetica, Arial, sans-serif;
$roboto-r:   				'Roboto-Regular', $font-family-base;
$roboto-m:   				'Roboto-Medium', $font-family-base;
$roboto-l:   				'Roboto-Light', $font-family-base;
$roboto-b:   				'Roboto-Bold', $font-family-base;
$roboto-th:  				'Roboto-Thin', $font-family-base;
$avenir-r:   				'AvenirNext-Regular', $font-family-base;
$avenir-h:   				'Avenir-Heavy', $font-family-base;
$project-base-font-family:  $roboto-r;

$project-base-color:        rgba(0, 0, 0, 0.87);

$project-base-font-size:    14px;
$project-base-line-height:  1.43em;
$project-base-bg:           #f7f7f7;


$project-h-color:           #484848;
$project-h1-color:          #484848;
$project-h1-font:           $avenir-h;


$project-pagination-font:   $avenir-r;


$project-link-color:        #4D4D4D;
$project-link-color-hover:  #000000;

